name: arch_helper
description: "A new arch script and installation client for my red40arch project."
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  get_it: ^9.0.5
  lazy_load_indexed_stack: ^1.2.1
  logger: ^2.6.2
  process_run: ^1.2.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
